bert_score==0.3.13
memobase==0.0.27
memu_py==0.1.8
mirix==0.1.7
nltk==3.9.1
numpy==2.4.4
openai==2.31.0
pandas==3.0.2
pydantic==2.13.0
python-dotenv==1.2.2
PyYAML==6.0.2
PyYAML==6.0.3
Requests==2.33.1
rouge_score==0.1.2
scipy==1.17.1
sentence_transformers==4.1.0
supermemory==3.33.1
tiktoken==0.9.0
tqdm==4.67.1
transformers==4.53.2
zep_cloud==3.20.0
